<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceBus" type="Shuttle.Esb.ServiceBusSection, Shuttle.Esb"/>
  </configSections>

  <serviceBus>
    <inbox
      workQueueUri="rabbitmq://shuttle:shuttle!@localhost/shuttle-server-work"
      errorQueueUri="rabbitmq://shuttle:shuttle!@localhost/shuttle-error" />
  </serviceBus>
</configuration>